/* src/App.css */
html, body {
    display: flex; 
    justify-content: center;
    background-color: #FF97CF;
    width: 100%;
}

.App {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    color: #f9f9f9;
    text-shadow: 2px 1px 6px black; /* deslocamento-x, deslocamento-y, raio-de-desfoque, cor */
}

h2 {
    color: #f9f9f9;
    text-shadow: 1px 1px 2px black; 
}

.paginacao button{
    margin: 12px 10px; /* espaco vertical 8px e horizontal de 10px entre os botoes */
}