/* src/App.css */
.App {
    background-color: #dd32ece0;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    color: #f9f9f9;
}

p {
    color: #f9f9f9;
}