/* src/components/UserCard.css */

.user-card {
  border: 1px solid ;
  border-radius: 35px;
  padding: 16px;
  width: 220px;
  text-align: center;
  margin: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.user-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: rgb(29, 28, 28) 1px solid;
}

.user-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: black; /* assim, no tema escuro o nome completo não some */
}

.user-card p,
.user-card small {
  font-size: 14px;
  color: black;
  margin: 4px 0;
  word-break: break-word;
  white-space: normal;
}